@model Blog
@{
    ViewData["Title"] = "BlogDetay";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/userThema/css/single.css">
</head>
<body>
    @section UserAsidePostsComponent {
        @await Component.InvokeAsync("UserAsidePostsComponent")
    }
    <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
        <div class="blog-grid-top">
            <div class="b-grid-top">
                <div class="blog_info_left_grid">
                    <img src="@Model.BlogBigImage" class="img-fluid" alt="..">
                </div>
                <div class="blog-info-middle">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="far fa-calendar-alt"></i>@(((DateTime)Model.CreateDate).ToString("dd-MMM-yyyy"))
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <i class="far fa-thumbs-up"></i> 201 Likes
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="far fa-comment"></i> 15 Comments
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <h3>
                <a href="#">@Model.BlogTitle</a>
            </h3>
            <p>
                @Model.BlogContent
            </p>
        </div>
        @await Component.InvokeAsync("UserCommentsComponent", Model.BlogID)
        @await Component.InvokeAsync("UserCommentsAddComponent")
    </div>
</body>
</html>