<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog - @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Doğukan Koşan">
    <link rel="canonical" href="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="">
    <meta name="twitter:card" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <meta name="robots" content="index, follow">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/userThema/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/userThema/css/jquery.desoslide.css">
    <link href="~/userThema/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/userThema/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-bar_sub_w3layouts container-fluid">
            <div class="row">
                <div class="col-md-4 logo text-left">
                    <a class="navbar-brand" href="/">
                        <i class="fab fa-linode"></i> Blog
                    </a>
                </div>
                <div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
                    <span>Hoşgeldiniz</span>
                    <span class="mx-lg-4 mx-md-2  mx-1">
                        <a href="~/Giris/Yap">
                            <i class="fas fa-lock"></i> Giriş Yap
                        </a>
                    </span>
                    <span>
                        <a href="~/KayitOl/Islem">
                            <i class="far fa-user"></i> Kayıt Ol
                        </a>
                    </span>
                </div>
                @await Component.InvokeAsync("UserHeaderSocialMediaComponent")
            </div>
        </div>
        <div class="header_top" id="home">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">
                                Anasayfa
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Hakkinda/Bilgi">Hakkında</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                Bloglar
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"></a>
                                <a class="dropdown-item" href="~/Bloglar/Liste">Blog</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="blog2.html">2 Column Blog</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="blog3.html">3 Column Blog</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Iletisim/Panel">İletişim</a>
                        </li>
                    </ul>
                    @await Component.InvokeAsync("UserHeaderSearchComponent")
                </div>
            </nav>
        </div>
    </header>
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <div class="row">
                @RenderBody()
                @await RenderSectionAsync("UserAsidePostsComponent", required: false)
                      
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                @await Component.InvokeAsync("UserFooterAboutUsComponent")
                @await Component.InvokeAsync("UserFooterLatestPostsComponent")
                <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                    <h2>Signup to our newsletter</h2>
                    <div class="subscribe-main text-left">
                        <div class="subscribe-form">
                            <form action="#" method="post" class="subscribe_form">
                                <input class="form-control" type="email" placeholder="Enter your email..." required="">
                                <button type="submit" class="btn btn-primary submit">Submit</button>
                            </form>
                            <div class="clearfix"> </div>
                        </div>
                        <p>We respect your privacy.No spam ever!</p>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("UserFooterSocialMediaComponent")
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/userThema/js/jquery-2.2.3.min.js"></script>
    <script src="~/userThema/js/jquery.desoslide.js"></script>
    <script>
        $('#demo1_thumbs').desoSlide({
            main: {
                container: '#demo1_main_image',
                cssClass: 'img-responsive'
            },
            effect: 'sideFade',
            caption: true
        });
    </script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });
        });
    </script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo2").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });
        });
    </script>
    <script src="~/userThema/js/jquery.flexisel.js"></script>
    <script src="~/userThema/js/move-top.js"></script>
    <script src="~/userThema/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop',
                containerHoverID: 'toTopHover',
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>
    <script src="~/userThema/js/bootstrap.js"></script>
</body>
</html>