@model SocialMedia
<div class="footer-cpy text-center">
	<div class="footer-social">
		<div class="copyrighttop">
			<ul>
				<li class="mx-3">
					<a class="facebook" target="_blank" href="@Model.FacebookLink">
						<i class="fab fa-facebook-f"></i>
						<span>Facebook</span>
					</a>
				</li>
				<li>
					<a class="facebook" target="_blank" href="@Model.InstagramLink">
						<i class="fab fa-instagram"></i>
						<span>Instagram</span>
					</a>
				</li>
				<li class="mx-3">
					<a class="facebook" target="_blank" href="mailto:@Model.GoogleLink">
						<i class="fab fa-google-plus-g"></i>
						<span>Google+</span>
					</a>
				</li>
				<li>
					<a class="facebook" target="_blank" href="@Model.GithubLink">
						<i class="fab fa-github"></i>
						<span>Github</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="w3layouts-agile-copyrightbottom">
		<p>
			© 2024 Blog Tüm Hakları Saklıdır | Tasarlayan
			<a href="mailto:@Model.GoogleLink">Doğukan Koşan</a>
		</p>
	</div>
</div>