@model About
@{
    ViewData["Title"] = "Hakkinda";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/single.css" rel='stylesheet' type='text/css' />
</head>
<body>
    @section UserAsidePostsComponent {
        @await Component.InvokeAsync("UserAsidePostsComponent")
    }
    <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
        <div class="blog-grid-top">
            <div class="blog_info_left_grid">
                    <img src="@Model.AboutImage1" class="img-fluid" alt="...">
            </div>
            <h3>
                Biz Kimiz & Misyonumuz & Vizyonumuz
            </h3>
            <p>
                @Model.AboutDetails1
            </p>
            <p>
                @Model.AboutDetails2
            </p>
        </div>
    </div>
</body>
</html>