<div class="tech-btm">
	<h4>Yeni Bloglardan Haberdar Olmak İçin Abone Olun</h4>
	<form asp-action="SubscribeMail" asp-controller="NewsLetter" method="post">
		<input type="email" name="Mail" placeholder="E-Mail" required="">
		<input type="submit" value="Abone Ol">
	</form>
</div>